{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@477&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <title>Completed | Keystroke Dynamics</title>
</head>

<body>
  <section id="user">
    <div class="container">
      <!-- Alerts -->
      <h1>Congratulations! You have finished the test.<br> Thank you for participating.
      </h1>
    </div>
  </section>
  <script src="{% static 'app.js' %}"></script>
</body>

</html>