{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@477&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <style>
    #instructions-text {
      font-size: 30px;
    }

      #instructions-container {
        height: 100%;
      }
      #user {
        height: 100%
      }
  </style>
  <title>Instructions | Keystroke Dynamics</title>
</head>

<body>
  <section id="user">
    <div class="container">
      <div id="instructions-container">
        <ul id="instructions-text">
          <li>The purpose of this experiment is to test an algorithm that I created, which analyzes users' typing styles and determines how much their typing style matches that of the account that they're attempting to log in to. This is done in order to provide an extra level of security by denying access to users whose typing style does not match that of the account they are trying to access.</li>
          <li>
            Before beginning the experiment you and your parent/guardian must read and sign the Consent Form. Please click this <a href="{% url 'consentinstructions' %}" target="_blank">link</a> and follow the instructions on the page.
          </li>
          <li>In the first part of the experiment, you will be asked to enter the account information of 6 different people who have already completed this test.</li>
          <li>If you get the error 'This Account Does Not Exist' please double check to make sure you typed in exactly what the instructions said. If you did and you still got this error, please screenshot it and email it to me <a href="mailto:cyrus.kell@aquinas-sta.org">cyrus.kell@aquinas-sta.org</a>.</li>
          <li>Secondly, you will be asked to create your own account by typing in a username and password of your choice 9 times. You can use any username or password as long as it is not already taken and is 8 characters or more.</li>
          <li>Lastly, you will be asked to type in the information for the account you just created 6 times.</li>
          <li>Please email me at <a href="mailto:cyrus.kell@aquinas-sta.org">cyrus.kell@aquinas-sta.org</a> if you have any questions or you notice any errors.</li>
        </ul>
        <button onclick="location.href='{% url 'test1' %}'">Next</button>
      </div>
    </div>
  </section>
  <script src="{% static 'app.js' %}"></script>
</body>

</html>