{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@477&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <style>
    #user {
      height: 100%;
    }
  </style>
  <title>Registration | Keystroke Dynamics</title>
</head>

<body>
  <!-- Alerts -->
  {% include 'partials/_alert.html' %}
  <section id="user">
    <div class="container">
      <h1>Please Create an Account By Entering the Same<br> Username and Password Nine Times
      </h1>
      <h4>Please use a username and password that is 8 or more characters.</h4>
      <div>
      <form id="form" action="{% url 'register' %}" method="POST">
        <br>
        <div class="form-group" id="form-group-1">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <input id="input-register-username-1" type="text" class="input" name="username-1" placeholder="Username"
              minlength="8" required />
            <input id="input-register-password-1" type="text" class="input" name="password-1" placeholder="Password"
              minlength="8" required />
        </div>
        <br>
        <div class="form-group" id="form-group-2">
          <input id="input-register-username-2" type="text" class="input" name="username-2" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-2" type="text" class="input" name="password-2" placeholder="Password"
            minlength="8" required />
        </div>
        <br>
        <div class="form-group" id="form-group-3">
          <input id="input-register-username-3" type="text" class="input" name="username-3" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-3" type="text" class="input" name="password-3" placeholder="Password"
            minlength="8" required />
        </div>
        <br>
        <div class="form-group" id="form-group-4">
          <input id="input-register-username-4" type="text" class="input" name="username-4" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-4" type="text" class="input" name="password-4" placeholder="Password"
            minlength="8" required />
        </div>
        <br>
        <div class="form-group" id="form-group-5">
          <input id="input-register-username-5" type="text" class="input" name="username-5" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-5" type="text" class="input" name="password-5" placeholder="Password"
            minlength="8" required />
        </div>
        <br>
        <div class="form-group" id="form-group-6">
          <input id="input-register-username-6" type="text" class="input" name="username-6" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-6" type="text" class="input" name="password-6" placeholder="Password"
            minlength="8" required />
        </div>
        <br>
        <div class="form-group" id="form-group-7">
          <input id="input-register-username-7" type="text" class="input" name="username-7" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-7" type="text" class="input" name="password-7" placeholder="Password"
            minlength="8" required />
        </div>
        <br>
        <div class="form-group" id="form-group-8">
          <input id="input-register-username-8" type="text" class="input" name="username-8" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-8" type="text" class="input" name="password-8" placeholder="Password"
            minlength="8" required />
        </div>
        <br>
        <div class="form-group" id="form-group-9">
          <input id="input-register-username-9" type="text" class="input" name="username-9" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-9" type="text" class="input" name="password-9" placeholder="Password"
            minlength="8" required />
        </div>
        <div>
          <input id="dwelldata" type="text" class="input invis-input" name="dwelldata"
            minlength="8" required />
            <input id="flightdata" type="text" class="input invis-input" name="flightdata"
            minlength="8" required />
        </div>
    </form>
      <button onclick="submitForm();" id="button-register-submit">Submit</button>
    </div>
    </div>
  </section>
  <script src="{% static 'app.js' %}"></script>
  <script>
    window.onload = () => {
      for (i = 0; i <= input.length - 1; i++) {
        let myInput = input[i];
        myInput.onpaste = e => e.preventDefault();
      };
    }
  </script>
</body>

</html>