{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@477&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <title>Self-Testing Page
    {% if '/selftest1' == request.path %}
    1
    {% elif '/selftest2' == request.path %}
    2
    {% elif '/selftest3' == request.path %}
    3
    {% elif '/selftest4' == request.path %}
    4
    {% elif '/selftest5' == request.path %}
    5
    {% elif '/selftest6' == request.path %}
    6
    {% endif %}
    | Keystroke Dynamics</title>
</head>

<body>
  <!-- Alerts -->
  {% include 'partials/_alert.html' %}
  <section id="user">
    <div class="container">
      <h1>Please Enter the Username and Password For<br> The Account You Just Created 
        {% if '/selftest1' == request.path %}
        6 Times
        {% elif '/selftest2' == request.path %}
        5 More Times
        {% elif '/selftest3' == request.path %}
        4 More Times
        {% elif '/selftest4' == request.path %}
        3 More Times
        {% elif '/selftest5' == request.path %}
        2 More Times
        {% elif '/selftest6' == request.path %}
        1 More Time
        {% endif %}
      </h1>
      <form id="form"
        {% if '/selftest1' == request.path %} 
        action="{% url 'selftest1' %}" method="POST">
        {% elif '/selftest2' == request.path %}
        action="{% url 'selftest2' %}" method="POST">
        {% elif '/selftest3' == request.path %}
        action="{% url 'selftest3' %}" method="POST">
        {% elif '/selftest4' == request.path %}
        action="{% url 'selftest4' %}" method="POST">
        {% elif '/selftest5' == request.path %}
        action="{% url 'selftest5' %}" method="POST">
        {% elif '/selftest6' == request.path %}
        action="{% url 'selftest6' %}" method="POST">
        {% endif %}
        {% csrf_token %}
        <br>
        <div class="form-group" id="form-group-1">
          <input id="input-register-username-1" type="text" autocomplete="off" class="input" name="username" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-1" type="text" autocomplete="off" class="input" name="password" placeholder="Password"
            minlength="8" required />
        </div>
        <div>
          <input id="dwelldata" type="text" class="input invis-input" name="dwelldata"
            minlength="8" required />
            <input id="flightdata" type="text" class="input invis-input" name="flightdata"
            minlength="8" required />
        </div>
        <button onclick="submitForm();" id="button-register-submit">Submit</button>
    </div>
    </div>
  </section>
  <script src="{% static 'app.js' %}"></script>
  <script>
    window.onload = () => {
      for (i = 0; i <= input.length - 1; i++) {
        let myInput = input[i];
        myInput.onpaste = e => e.preventDefault();
      };
    }

    document.addEventListener("keypress", function(e) {
      if (e.keyCode === 13) {
        submitForm();
      }
    })
  </script>
</body>

</html>