{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@477&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <title>Testing Page
    {% if '/test1' == request.path %}
    1
    {% elif '/test2' == request.path %}
    2
    {% elif '/test3' == request.path %}
    3
    {% elif '/test4' == request.path %}
    4
    {% elif '/test5' == request.path %}
    5
    {% elif '/test6' == request.path %}
    6
    {% endif %}
    | Keystroke Dynamics</title>
</head>

<body>
  {% if '/test1' == request.path %}
  <section id="notification">
    <h2 id="notification-text">Please Do Not Continue Until You Have Read and Signed The<br> <a
        href="https://na4.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=d90bb626-0f33-462a-9ec9-e1eb7bec03a1&env=na4&acct=42f07939-6841-481e-b8ce-a26d10852ce7&v=2" target="_blank">Consent
        Form</a></h2>
    <button id="notification-button">I Certify That I Have Read and Signed the Consent Form</button>
  </section>
  <section id="gray-back">
  </section>
  <script>
    document.getElementById('notification-button').addEventListener("click", function () {
      document.getElementById('notification').style.display = "none";
      document.getElementById('gray-back').style.display = "none";
    });
  </script>
  {% endif %}
  <!-- Alerts -->
  {% include 'partials/_alert.html' %}
  <section id="user">
    <div class="container">
      <h1>Please Enter the Username "{% if '/test1' == request.path %}
        tosquare1
        {% elif '/test2' == request.path %}
        cartent2
        {% elif '/test3' == request.path %}
        greeting3
        {% elif '/test4' == request.path %}
        aliveclock4
        {% elif '/test5' == request.path %}
        creation5
        {% elif '/test6' == request.path %}
        english6
        {% endif %}
        " and<br> the Password " 
        {% if '/test1' == request.path %}
        test2021
        {% elif '/test2' == request.path %}
        alivetalk
        {% elif '/test3' == request.path %}
        evenpick6
        {% elif '/test4' == request.path %}
        bankbutton12
        {% elif '/test5' == request.path %}
        constant08
        {% elif '/test6' == request.path %}
        element26
        {% endif %}"
      </h1>
      <form id="form"
        {% if '/test1' == request.path %}
        action="{% url 'test1' %}" method="POST">
        {% elif '/test2' == request.path %}
        action="{% url 'test2' %}" method="POST">
        {% elif '/test3' == request.path %}
        action="{% url 'test3' %}" method="POST">
        {% elif '/test4' == request.path %}
        action="{% url 'test4' %}" method="POST">
        {% elif '/test5' == request.path %}
        action="{% url 'test5' %}" method="POST">
        {% elif '/test6' == request.path %}
        action="{% url 'test6' %}" method="POST">
        {% elif '/test1error' == request.path %}
        action="{% url 'test1' %}" method="POST">
        {% endif %}
        {% csrf_token %}
        <br>
        <div class="form-group" id="form-group-1">
          <input id="input-register-username-1" type="text" class="input" name="username" placeholder="Username"
            minlength="8" required />
          <input id="input-register-password-1" type="text" class="input" name="password" placeholder="Password"
            minlength="8" required />
        </div>
        <div>
          <input id="dwelldata" type="text" class="input invis-input" name="dwelldata"
            minlength="8" required />
            <input id="flightdata" type="text" class="input invis-input" name="flightdata"
            minlength="8" required />
        </div>
        <button id="button-register-submit" type="button" onclick="submitForm();">Submit</button>
      </form>
    </div>
  </section>
  <script src="{% static 'app.js' %}"></script>
  <script>
    window.onload = () => {
      for (i = 0; i <= input.length - 1; i++) {
        let myInput = input[i];
        myInput.onpaste = e => e.preventDefault();
      };
    }
  </script>
</body>

</html>